h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}

h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

p{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 24px;
}
.cyan{
    color: cyan;
}
.contact-me-button{
    text-decoration: none;
    font-size: 25px;
    background-image: linear-gradient(chocolate, tomato);
    padding: 10px 20px;
    border-radius: 10px;

}

body{
    margin: 0;


}
.half-width-1{
    width: 50%;
    padding: 10px;
    margin: 100px 0px 0px 100px;
}
.half-width-2{
    width: 50%;
    padding: 10px;
    margin: 150px 0px 0px 200px;
}

.half-width img{
    width: 70%
}
.first-section{

    display: flex;
    margin-bottom: 100px;
}

.download-resume-button{
    text-decoration: none;
    font-size: 25px;
    background-image: linear-gradient(chocolate, tomato);
    padding: 10px 20px;
    border-radius: 10px;

}
  .second-section {
    display: flex;
    margin-bottom: 100px;
}
.second-half-width{
    width: 50%;
    padding: 10px;
    margin: 0px 0px 0px 100px;

}
.second-half-width-2{
    width: 50%;
    padding: 10px;
    margin-top: 80px;
}
.experience{
    background-color: dodgerblue;
    display: inline;
    padding: 20px 30px;
    border-radius: 40px;
    margin: 100px 0px 0px 50px;
}